<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a> -->
      <ul class="nav navbar-nav">
      	<li><a href="/lodges/">Lodges</a></li>
        <li><a href="/rooms/">Rooms</a></li>
        <li><a href="/room_types/">Room types</a></li>
        <li><a href="/bookings/">Bookings</a></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
       
    </div>
  </div>
</nav>